
body, h1, h2, p, header, section, footer {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6fa;
    color: #333;
}

.main-title {
    color: #800080;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
h1, h2 {
    color: #d9cfd9;
}

section {
    margin: 20px;
}

#persona {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 24px;
    color: #4b0082;
    font-style: italic;
}

.container p {
    font-size: 18px;
    color: #333;
    font-family: 'Times New Roman', serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #800080;
    color: #fff;
}

